<form method="POST" action="upload/" enctype="multipart/form-data">
    <p>
        <input type="file" name="file">
    </p>

    <p>
        <input type="text" name="fileName" placeholder="File name">
    </p>
    <input type="submit">
</form>